body {

    background-image: url("../../assets/black-dark-elegant-pattern-in-retro-style-with-a-little-gold-dots-background-for-invitation-card-you-can-used-for-premiu.jpg");
   
   


}

.containerMoviesCards {

    margin-top:15px;
    margin-bottom: 40px;




}