.MovieCards {


     display: grid;
     
   
     grid-template-columns: repeat(auto-fit, minmax(450px, 500px));
     gap: 30px;
     justify-items: center;
     justify-content: space-evenly;

}

.card {

  width: 400px;
  height:670px;
 
  background-color: blueviolet;
  background-size:cover;
  padding: 20px;
  border-radius: 15px;
}





